doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title
    link(href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(href='/styles/main.min.css', rel='stylesheet')

  body
    .container
      nav.navbar.navbar-light.navbar-faded
        ul.nav.navbar-nav
          li.nav-item
            a.nav-link(href='https://github.com/uptownhr/hackathon-starter-lite', target='_blank') Github
          li.nav-item
            a.nav-link(href='/blog') Blog
          li.nav-item
            a.nav-link(href='/contact') Contact Us

        if user
          .dropdown.pull-right
            button.btn.btn-info.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              =user.profile.name || user.email
              | &nbsp;
            ul.dropdown-menu
              if user.role == 'admin'
                li
                  a.dropdown-item(href='/admin') Admin
              li
                a.dropdown-item(href='/user/account') My Account
              li
                a.dropdown-item(href='/auth/logout') Logout
        else
          ul.nav.navbar-nav.pull-right
            li.nav-item
              a.btn.btn-primary(href='/auth/login') Login
            li.nav-item
              a.btn.btn-secondary.nav-link(href='/auth/register') Sign Up


    .container.content
      main
        include partials/flash
        block content

      footer.footer(style='clear: both;')
        hr
        small
          | © hackable
          time 2016
          | . All rights reserved.
    script(src='/scripts/main.min.js')
